---
name: Changelog & versions
"on":
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - changelog.md
      - "**/pyproject.toml"
      # Trigger on any workflow change to make sure version gets hard-coded everywhere.
      - .github/workflows/*.yaml

jobs:

  changelog:
    uses: kdeldycke/workflows/.github/workflows/changelog.yaml@v5.8.0
